@model WebApplication1.Models.PrincessConnect
@{
    ViewBag.Title = "修改留言";
}
@*匯入驗證欄位所需的JavaScript*@
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval.js")
}
@*建立修改欄位所需的表單*@
@using (Html.BeginForm())
{
    <h3>修改留言</h3>
    @*建立修改留言表格*@
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.a1)
            </td>
            <td>
                @Html.TextBoxFor(model => model.a1)
                @Html.ValidationMessageFor(model => model.a1)
            </td>
        </tr>
    </table>
}